<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
    <script src="/js/style.js"/>


</head>

<body>



<div class="navbar">
    <div>
        <img src="/img/logo.png" id="logo"/>
        <p class="logotitle">Shop</p>
    </div>
    <div id="cart">
        <div id="itemplace">
            <p id="numitem" th:text="${allQuantity}"></p>
        </div>
        <form action="/review">
            <button type="submit" id="cartbutton"><img src="/img/cart.png" id="cartpng"/>  CART</button>
        </form>
        <form action="/registration">
            <button type="submit" id="regbutt"> SIGN UP </button>
        </form>
    </div>

</div>

<!--if the user click a category or supplier, then only the given items visible-->
<div class='box'>
    <h5>Search</h5>
    <a href='/'>All product</a><br/>
    <h4>Category</h4>
    <div>
        <a href='/category/1'>Tablet</a><br/>
        <a href='/category/2'>Laptop</a>
    <h4>Supplier</h4>
        <a href='/supplier/2'>Lenovo</a><br/>
        <a href='/supplier/3'>Samsung</a><br/>
        <a href='/supplier/1'>Amazon</a>
    </div>

</div>


<div class="container">

    <div id="products" class="row ">

        <!--display every item on the site, based on the given data from the server-->
        <div class="item col-xs-12 col-sm-6 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" th:attr="src='/img/product_' + ${prod.id} + '.jpg'" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                    <p class="group inner list-group-item-text" th:text="${prod.description}">Product description... </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <!--when the user clicked the button, the client send the data to the server-->
                            <form action="/add"  method="post" th:action="'/add/'+ ${prod.id}">
                                <button class="addbutton" href="#">Add to cart</button>
                                <div class="addbuttonshadow"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="footer navbar-fixed-bottom text-center">
    <p id= "navbartext">2016 | t2 | All rights reserved</p>
</div>


</body>
</html>