.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 2px 2px 0px 2px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.box {
    width: 80px;
    margin-left: 20px;
    float: left;

    font-family: sans-serif;
}

.container {
    z-index: 50;

    float: left;
}

h5 {
    color: grey;
}

a {
    color: black;
    text-decoration: none !important;
}

a:active {
    color: orange;
    font-weight: bold;
    text-decoration: none !important;
}

a:hover {
    color: orange;
    font-weight: bold;
    text-decoration: none !important;
}


.navbar{
    height: 10px;
    width: auto;
    border-radius: 0;
    background-color: #201d1d;
    margin-top: auto;
    position: relative;
}

#regbutt{
    font-size: 15px;
    color:orange;
    background-color: Transparent;
    border-color: Transparent;
    outline: none !important;
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

#regbutt.active{
    background-color: darkorange;
    color: white;

}

#cart {
    margin-top: -50px;
}

#cartbutton {
    height: 35px;
    width: 100px;
    float: right;
    margin-top: 5px;
    margin-right: -3px;
    border: darkorange;
    background-color: darkorange;
    color: white;
    display: inline-block;
    outline: none !important;
}

#logo {
    float: left;
    margin-top: 5px;
    margin-left: 20px;
    display: inline-block;
}

p.logotitle{
    color: white;
    font-size: 15px;
    margin-top: 18px;
    margin-left: 10px;
    display: inline-block;
}

#cartpng {
    width: 20px;
    height: auto;
}

#itemplace {
    z-index: -1;
    height: 35px;
    width: 40px;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    border: white;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-align: center;
}

#numitem {
    margin-top: 5px;
    font-size: 18px;
}

.activelink {
    color: black;
}

.passivelink {
    color: orange;
}

.addbutton {
    margin-left: 50px;
    margin-top: auto;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    border-color: darkorange;
    background-color: darkorange;
    color: white;

    outline: none !important;
}

.addbuttonshadow {
    z-index: -50;
    margin-left: 53px;
    margin-top: -33px;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    background-color: #f94204;

}

.footer {
    height: 20px;
    width: auto;
    background: white;
}
#navbartext {
    margin-top: 3px;
    font-size: 10px;
    color:grey;
}
