.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 2px 2px 0px 2px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.box {
    margin-left: 20px;
    float: left;

    font-family: sans-serif;
}

.container {
    float: left;
}

h4 {
    color: grey;
}

a {
    color: orange;
}

.navbar{
    height: 10px;
    width: auto;
    border-radius: 0;
    background-color: black;
    margin-top: -48px;
}

#cartbutton {
    height: 35px;
    width: 100px;
    float: right;
    margin-top: 5px;
    margin-right: -5px;
    border: #87ec25;
    background-color: #87ec25;
    color: white;
}

#cartpng {
    width: 20px;
    height: auto;
}

#itemplace {
    z-index: -1;
    height: 35px;
    width: 40px;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    border: white;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-align: center;
}

#numitem {
    margin-top: 2px;
}