body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin-bottom: 50px;
    color: orange;
}

input[type=number] {
    width: 70px;
    height: 25px;
    margin-left: 30px;
    text-align: center;
}

p {
    width: auto;
    color: #4d4b4a;
    font-size: 18px;
}

div p {
    margin-left: 20px;
}

.btn {
    font-size: 18px;
    color: #ff8d71;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-bottom: 10px;
}

.btn:hover {
    color:#ff4c5b;
}


.quantityForm {
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #bab8b7;
    margin-bottom: 20px;

}

.inline {
    display: inline-block;
    margin-left: 20px;
    padding-bottom: 10px;
}

.pull-right {
    align-items: center;
    float: right;
}

.btn-continue {
    display: inline-block;
    border-radius: 4px;
    background-color: #5e5e5e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.btn-continue span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-continue span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn-continue:hover span {
    padding-right: 25px;
}

.btn-continue:hover span:after {
    opacity: 1;
    right: 0;
}